@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/* REUSABLE PARAMETERS 

- font-family: 'Open Sans', sans-serif;
- font-family: 'Poppins', sans-serif;
- Violet: hsl(257, 40%, 49%)
- Soft Magenta: hsl(300, 69%, 71%) 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    height: 100vh;
    background: linear-gradient(rgba(156, 0, 255, 0.65),rgba(156, 0, 255, 0.65)),url(./images/bg-desktop.svg);
    background-image: cover;  
}


html{
    font-size: 62.5%;
}

.logo{
    max-width: 120rem;
    margin: 0 auto;
    padding: 4rem 0;
  
}
.img-logo{
    width: 15%;   
}

.hero{
    max-width: 120rem;
    margin: 0 auto;

}
.hero-content{
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: start;
}

.illustration-mockups{
    width: 110%;  
}

.primary-heading{
    font-family: 'Poppins', sans-serif;
    font-size: 4.7rem;
    font-weight: 600;
    color: #f1f3f5;
    letter-spacing: -0.75px;
    margin-top: 2.4rem;
    margin-bottom: 1.2rem;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.secondary-heading{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: hsl(300, 39%, 91%);
    line-height: 1.5;
    margin-bottom: 3.6rem;
    letter-spacing: -0.75px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn {
    text-decoration: none;
    color:#f8f9fa ;
    padding: 12px 55px;
    background-color: hsl(300, 69%, 71%) ;
    font-family: 'Poppins', sans-serif;
    border-radius: 65px;
    font-size: 1.4rem;
}
.btn:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.icons{
    max-width: 125rem;
    margin: 0 auto;
}
.media-icons{
    display: flex;
    justify-content: flex-end;
}
ion-icon{
    font-size: 2.4rem;
    margin-right: 1.8rem;
    border: 1px white solid;
    border-radius: 100px;
    padding: 7px;
    color: white;
}

ion-icon:hover{
    color: violet;
    border: 1px solid violet;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media only screen and (max-width: 600px) {

    /*--[ Mobile styles go here]---------------------------*/
    body{
        background:linear-gradient(rgba(156, 0, 255, 0.65),rgba(156, 0, 255, 0.65)),url(./images/bg-mobile.svg);
        background-repeat: no-repeat;   
        background-size: 60rem;
        background-image: cover;
        height:fit-content;
         
    }
    .logo{
        width: 27.5rem;
        margin: 0 auto;
        padding: 4rem 0 2.2rem;
      
    }
    .img-logo{
        width: 40%;   
    }
    
    .hero{
        width: 27.5rem;
        margin: 0 auto;
    
    }
    .hero-content{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.6rem;
        text-align: center;
    }
    
    .illustration-mockups{
        width: 100%;  
    }
    .icons{
        width: 27.5rem;
        margin: 4.4rem auto ;
        
    }
    .media-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        
    }
    ion-icon{
        font-size: 1.8rem;
        border: 1px white solid;
        border-radius: 100px;
        padding: 7px;
        color: white;
        margin: 0 7px 0 7px;
        
    }
    .primary-heading{
    font-size: 2.2rem;
    }
    .secondary-heading{
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.6;
    }
  
}